@import "tailwindcss";
@import "tw-animate-css";

:root {
  --background: oklch(0.9761 0 0);
  --foreground: oklch(0.3211 0 0);
  --card: oklch(0.9761 0 0);
  --card-foreground: oklch(0.3211 0 0);
  --popover: oklch(0.9761 0 0);
  --popover-foreground: oklch(0.3211 0 0);
  --primary: oklch(0.7499 0.0863 227.9668);
  --primary-foreground: oklch(0 0 0);
  --secondary: oklch(0.854 0.0665 224.8301);
  --secondary-foreground: oklch(0 0 0);
  --muted: oklch(0.9761 0 0);
  --muted-foreground: oklch(0.5103 0 0);
  --accent: oklch(0.8148 0.0819 225.7537);
  --accent-foreground: oklch(0 0 0);
  --destructive: oklch(0.6542 0.2321 28.6592);
  --destructive-foreground: oklch(1 0 0);
  --border: oklch(0.9067 0 0);
  --input: oklch(0.9761 0 0);
  --ring: oklch(0.8148 0.0819 225.7537);
  --chart-1: oklch(0.8148 0.0819 225.7537);
  --chart-2: oklch(0.8562 0.0489 219.6543);
  --chart-3: oklch(0.7303 0.1944 147.4439);
  --chart-4: oklch(0.8652 0.1768 90.3816);
  --chart-5: oklch(0.7652 0.1752 62.5738);
  --sidebar: oklch(0.9761 0 0);
  --sidebar-foreground: oklch(0.3211 0 0);
  --sidebar-primary: oklch(0.8148 0.0819 225.7537);
  --sidebar-primary-foreground: oklch(0 0 0);
  --sidebar-accent: oklch(0.8148 0.0819 225.7537);
  --sidebar-accent-foreground: oklch(0 0 0);
  --sidebar-border: oklch(0.9067 0 0);
  --sidebar-ring: oklch(0.8148 0.0819 225.7537);
  --font-sans: Inter;
  --font-serif: Merriweather;
  --font-mono: Monaco;
  --radius: 8px;
  --shadow-2xs: 0px 0px 0px 0px hsl(0 0% 0% / 0);
  --shadow-xs: 0px 0px 0px 0px hsl(0 0% 0% / 0);
  --shadow-sm: 0px 0px 0px 0px hsl(0 0% 0% / 0),
    0px 1px 2px -1px hsl(0 0% 0% / 0);
  --shadow: 0px 0px 0px 0px hsl(0 0% 0% / 0), 0px 1px 2px -1px hsl(0 0% 0% / 0);
  --shadow-md: 0px 0px 0px 0px hsl(0 0% 0% / 0),
    0px 2px 4px -1px hsl(0 0% 0% / 0);
  --shadow-lg: 0px 0px 0px 0px hsl(0 0% 0% / 0),
    0px 4px 6px -1px hsl(0 0% 0% / 0);
  --shadow-xl: 0px 0px 0px 0px hsl(0 0% 0% / 0),
    0px 8px 10px -1px hsl(0 0% 0% / 0);
  --shadow-2xl: 0px 0px 0px 0px hsl(0 0% 0% / 0);
  --tracking-normal: 0px;
}

.dark {
  --background: oklch(0.1822 0 0);
  --foreground: oklch(0.9761 0 0);
  --card: oklch(0.1822 0 0);
  --card-foreground: oklch(0.9761 0 0);
  --popover: oklch(0.1822 0 0);
  --popover-foreground: oklch(0.9761 0 0);
  --primary: oklch(0.7499 0.0863 227.9668);
  --primary-foreground: oklch(0 0 0);
  --secondary: oklch(0.7499 0.0863 227.9668);
  --secondary-foreground: oklch(0 0 0);
  --muted: oklch(0.1822 0 0);
  --muted-foreground: oklch(0.5103 0 0);
  --accent: oklch(0.8148 0.0819 225.7537);
  --accent-foreground: oklch(0 0 0);
  --destructive: oklch(0.6542 0.2321 28.6592);
  --destructive-foreground: oklch(1 0 0);
  --border: oklch(0.3211 0 0);
  --input: oklch(0.1822 0 0);
  --ring: oklch(0.8148 0.0819 225.7537);
  --chart-1: oklch(0.8148 0.0819 225.7537);
  --chart-2: oklch(0.8562 0.0489 219.6543);
  --chart-3: oklch(0.7303 0.1944 147.4439);
  --chart-4: oklch(0.8652 0.1768 90.3816);
  --chart-5: oklch(0.7652 0.1752 62.5738);
  --sidebar: oklch(0.1822 0 0);
  --sidebar-foreground: oklch(0.9761 0 0);
  --sidebar-primary: oklch(0.8148 0.0819 225.7537);
  --sidebar-primary-foreground: oklch(0 0 0);
  --sidebar-accent: oklch(0.8148 0.0819 225.7537);
  --sidebar-accent-foreground: oklch(0 0 0);
  --sidebar-border: oklch(0.3211 0 0);
  --sidebar-ring: oklch(0.8148 0.0819 225.7537);
  --font-sans: Inter;
  --font-serif: Merriweather;
  --font-mono: Monaco;
  --radius: 8px;
  --shadow-2xs: 0px 0px 0px 0px hsl(0 0% 0% / 0);
  --shadow-xs: 0px 0px 0px 0px hsl(0 0% 0% / 0);
  --shadow-sm: 0px 0px 0px 0px hsl(0 0% 0% / 0),
    0px 1px 2px -1px hsl(0 0% 0% / 0);
  --shadow: 0px 0px 0px 0px hsl(0 0% 0% / 0), 0px 1px 2px -1px hsl(0 0% 0% / 0);
  --shadow-md: 0px 0px 0px 0px hsl(0 0% 0% / 0),
    0px 2px 4px -1px hsl(0 0% 0% / 0);
  --shadow-lg: 0px 0px 0px 0px hsl(0 0% 0% / 0),
    0px 4px 6px -1px hsl(0 0% 0% / 0);
  --shadow-xl: 0px 0px 0px 0px hsl(0 0% 0% / 0),
    0px 8px 10px -1px hsl(0 0% 0% / 0);
  --shadow-2xl: 0px 0px 0px 0px hsl(0 0% 0% / 0);
}

body {
  letter-spacing: var(--tracking-normal);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
